@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Unica+One&display=swap');


* {
  padding: 0;
  margin: 0;
}

body,html {
  font-family: 'Oswald', sans-serif;
color: #d6d6d6;
display:flex ;
justify-content: center;
  
}



ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  display: flex;
  margin-right: auto;
  justify-content: center;
  flex-flow: column wrap;
 align-items: center;
  text-align: center;
  margin: 0 5rem 1rem 5rem;
}


.header-logo {
  display: block;
  flex-direction: column;
  justify-content: center;
  height: 15vh;
  width: 15vw;
  margin: 1rem 0 1rem 0;
  padding: 0;
}

.search-input {
  margin: 1rem 0 2rem 0;
  height: 2rem;
  width: 20rem;
  border-radius: 10rem;
  text-align: center;
  background-color: black;
  border: 0.05rem solid #fed313;
  border-color: #fed313;
  box-shadow: 0 0 .1rem #fed313,
        0 0 .05rem #fff,
        0 0 .05rem #fed313,
        0 0 0.05rem #fed313,
        0 0 1.05rem #fed313,
        inset 0 0 .5rem #fed313;
  color: #d6d6d6;

  
}

/* input, select, textarea{
  color: #ff0000;
} */

::placeholder { 
  color: #d6d6d6; 
}


.load-button {
  margin: 2rem;
  width: 6rem;
  height: 3rem;
  border-radius: 2rem;
  border: 0.05rem solid #fed313;
  border-color: #fed313;
    box-shadow: 0 0 .1rem #fed313,
        0 0 .05rem #fed313,
        0 0 .05rem #fed313,
        0 0 0.05rem #fed313,
        0 0 1.05rem #fed313,
        inset 0 0 .5rem #fed313;
        
  background-color: black; 
  color: #fff;
 font-family: 'Oswald', sans-serif;
 font-size:medium;   
}

.load-button:hover {
  border-color: #ffffff;
  box-shadow: 0 0 .1rem #fff,
      0 0 .1rem #fff,
      0 0 .1rem #ffffff,
      0 0 0.15rem #ffffff,
      0 0 1.8rem #ffffff,
      inset 0 0 .8rem #ffffff;
}

.full {
  color: #d6d6d6 ;
  margin: 3rem;
}


@media only screen and (max-width: 600px)  {
  .header-logo {
    height:6rem;
    width: 8rem;
  }
}
